{{define "game"}}
<!DOCTYPE html>
<html>
<head>
    <link href="/static/main.css" rel="stylesheet">
    <title>Hangman Game</title>
</head>
<body>

<a href="../accueil" class="return-button">⬅️ Retour</a>
<p id="word-display">{{.ChosenWord}}</p>

<div id="attempts-left" class="vertical-align">
    <div class="text-container">
        <p id="guessed-letter">Lettres utilisées : {{.GuessedLetters}}</p>
    </div>
    <div class="text-container">
        <p>Tentatives restantes : <span id="remaining-attempts">{{.AttemptsLeft}}</span></p>
    </div>
    <div class="text-container">
        <p>Difficulté :
            {{if eq .Difficulty "facile"}}
                <span class="facile">Facile</span>
            {{else if eq .Difficulty "moyen"}}
                <span class="moyen">Moyen</span>
            {{else if eq .Difficulty "difficile"}}
                <span class="difficile">Difficile</span>
            {{end}}
        </p>
    </div>
    <div class="image-container">
        <!--<img src="/static/ressources/blackboard.jpg" class="blackboard"/>-->
        <img src="/static/ressources/hangman{{.AttemptsLeft}}.png" class="large-image"/>
    </div>
</div>

<form method="POST" id="guessForm" action="/guess?difficulty={{.Difficulty}}">
    <div id="keyboard">
        <!-- Première rangée -->
        <div class="row">
            {{range $index, $pair := .LetterPairs}}
            {{if lt $index 10}}
            <button
                class="icon-letter {{if eq $pair.Status "correct"}}used-correct disabled{{else if eq $pair.Status "incorrect"}}used-incorrect disabled{{end}}"
                type="submit"
                name="letter"
                value="{{$pair.Letter}}"
                {{if ne $pair.Status "unused"}}disabled{{end}}>
                {{$pair.Letter}}
            </button>
            {{end}}
            {{end}}
        </div>
        <!-- Deuxième rangée -->
        <div class="row">
            {{range $index, $pair := .LetterPairs}}
            {{if and (ge $index 10) (lt $index 19)}}
            <button
                class="icon-letter {{if eq $pair.Status "correct"}}used-correct disabled{{else if eq $pair.Status "incorrect"}}used-incorrect disabled{{end}}"
                type="submit"
                name="letter"
                value="{{$pair.Letter}}"
                {{if ne $pair.Status "unused"}}disabled{{end}}>
                {{$pair.Letter}}
            </button>
            {{end}}
            {{end}}
        </div>
        <!-- Troisième rangée -->
        <div class="row">
            {{range $index, $pair := .LetterPairs}}
            {{if ge $index 19}}
            <button
                class="icon-letter {{if eq $pair.Status "correct"}}used-correct disabled{{else if eq $pair.Status "incorrect"}}used-incorrect disabled{{end}}"
                type="submit"
                name="letter"
                value="{{$pair.Letter}}"
                {{if ne $pair.Status "unused"}}disabled{{end}}>
                {{$pair.Letter}}
            </button>
            {{end}}
            {{end}}
        </div>
    </div>
</form>


</body>
</html>
{{end}}
